*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


$primary-color: #c3f73d;

@mixin gradient($color1, $color2) {
    background-image: linear-gradient(to right, $color1, $color2);
  }


html {
    font-size: 16px;
    @include gradient(#07c906, #c3f73d);

    @media screen and (min-width: 1000px){
        font-size: 25px;
    }

    body {
        display: flex;
        align-items: center;
        height: auto;
        justify-content: center;

        main {
            background-color: $primary-color;
            max-width: 900px;
            width: 100%;
            margin: 1rem;
            border: 3px solid black;

            .budget {
                padding: 1rem;
                border: 1px solid black;

                .summary_header {
                    margin-bottom: 1rem;
                }

                .summary_stats {
                    display: flex;
                    justify-content: space-between;
                }

                .budget_trans {
                    display: flex;
                    width: 100%;
                    height: 3rem;
                    justify-content: space-between;
                    align-items: center;
                    font: inherit;
                    color: inherit;
                    background-color: inherit;
                    margin-top: 1rem;

                    input, button {
                        font: inherit;
                        line-height: inherit;
                        padding: .2rem;
                    }

                    .input-label {
                        width: 8rem;
                    }

                    .input-amt {
                        width: 6rem;
                    }

                }

                .trans-div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 3rem;
                    align-items: center;
                }
            }
        }
    }
}